name: Monitor Ocorrências Aveiro

on:
  schedule:
    - cron: "*/5 * * * *"   # a cada 5 minutos
  workflow_dispatch:

jobs:
  run-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false  # importante

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run monitor
        run: |
          python monitor_aveiro.py

      - name: Commit database
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add ocorrencias_aveiro.db
          git commit -m "Atualização automática da BD" || echo "Sem alterações"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
        
